<p>This is the about view.</p>

<div class="col-lg-6" ng-controller="AboutCtrl as about">
  <label for="colorInput">Enter your favorite color:</label>
  <div class="input-group">

    <input type="search" class="form-control" placeholder="e.g. red" id="colorInput" ng-model="color" action="sendToServer()">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="sendToServer()">&gt;</button>
      </span>
  </div>
  <!-- /input-group -->
  <p>
    {{serverMessage}}
  </p>
</div>
<!-- /.col-lg-6 -->
