<div class="jumbotron">
  <p class="lead col-xs-4">
    state:
  </p>
  <button class="btn col-xs-3" ng-style="stateStyle"></button>

</div>

<div>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Settings</legend>

      <!-- Appended Input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="appendedtext1">First light</label>
        <div class="col-md-3">
          <div class="input-group">
            <input id="appendedtext1" name="appendedtext1" class="form-control" placeholder="60" type="number" required="" ng-model="form.before">
            <span class="input-group-addon">mins</span>
          </div>
          <p class="help-block">before wake time</p>
        </div>
      </div>
      <!-- Appended Input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="appendedtext2">Last light</label>
        <div class="col-md-3">
          <div class="input-group">
            <input id="appendedtext2" name="appendedtext2" class="form-control" placeholder="60" type="number" required="" ng-model="form.after">
            <span class="input-group-addon">mins</span>
          </div>
          <p class="help-block">after wake time</p>
        </div>
      </div>
      <div class="form-group" style="display:flex; align-items:center">
        <label class="col-md-4 control-label" for="timeSun">Wake time</label>
        <div class="col-md-4">
          <!-- <div class="input-group"> -->
          <div uib-timepicker show-seconds="false" show-meridian="true" ng-model="form.wakeTime.sun"></div>
          <!-- </div> -->
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4"></label>
        <button type="submit" class="btn btn-success" ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-danger" ng-click="resetSettings()">Reset</button>
      </div>

    </fieldset>
  </form>
  <div class="col-xs-9 alert alert-success" ng-show="showAlert">{{alertMsg}}</div>
  <hr />
  <br />
  <div class="col-md-4">
  </div>
  <button class="btn btn-danger" ng-click="shutdown()">Shutdown Raspberry Pi</button>
</div>
